body{
	display: block;
	padding: 0;
	margin:0;
	font-family: verdana;
	background: linear-gradient(rgba(210,100,250,0), rgba(90,190,240,1));
	background-repeat:no-repeat;
	background-position: top left;
	background-position: 100%;
}

div#container{
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(23,90,11,0), rgba(56,34,22,1));
	background-repeat: no-repeat;
	background-position: top;
	clear: both;
	color: #333;
}
	
.header{
	border-bottom: 3px solid lightgray;
}

.header ul.header-menus li a{
	text-decoration: none;
	color: #333;
	float: left;
	padding: .5em 1em;
	border-radius: 3px;
	transition: 300ms ease-in-out;
	font-size: 120%;
}

.header ul.header-menus li a:hover{
	background-color: #888;
	transition: 300ms ease-in-out;
	color: white;
}
.header ul.header-menus{
	list-style: none;	
	margin: 0;
	padding: 0;
	float: right;
}

.header ul.header-menus li{
	display: inline;
	width: 10%;
	text-align: center;
}

.header h1{
	/*clear: right;*/
	/*background-color: gray;*/
	margin: 0;
	padding: 2em;
}

.header #formsLinks{
	display: flex;
	text-align: center;
}

.header #formsLinks a{
	flex: 1;
	padding: 1em;
	text-decoration: none;
	color: #333;
	font-size: 110%;
	transition: 300ms ease-in-out;
	border-radius: 5px;
}
.header #formsLinks a:hover{
	flex: 1;
	padding: 1em;
	text-decoration: none;
	color: #333;
	font-size: 110%;
	background-color: rgba(136,136,136,.5);
	border:none;
	color: white;
	transition: 300ms ease-in-out;
}
.content-wrap{
	padding: 1em;
}

div img{
	width: 20%;
	height: 20%;
	float:right;
	border-radius: 50%;
	opacity: .5;
	transition: 200ms ease-in-out;
	box-shadow: 0px 10px 10px rgba(0,0,0,.4);
}

img:hover{
	opacity: 1;
	transition: 200ms ease-in-out;
}

#grid{
	padding: 1em;
	color: #ccc;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1em;
	grid-row-gap: 1em;
	clear: both; 
}

#grid .box{
	border:1px solid gray;	
	background-color: #d4d4d4;
	color: #333;
	box-shadow: 0px 10px 10px rgba(0,0,0,.4);
	text-align: center;
}

#grid .box img{
	border-radius: 0;
	float: none;
	width: 100%;
	height: 250px;
	transition: 300ms ease-in-out;
	box-shadow: none;
}

#grid .box h2{
	padding: .5em 1em;
	color: cornflowerblue;
	font-size: 120%;
}

#grid .box p{
	padding: .5em 1em;
}

.read{
	display: inline-block;
	text-decoration: none;
	padding: 1em;
	background-color: cornflowerblue;
	text-align: center;
	color: #fff;
	font-size: 105%;
	border-radius: 4px;
	margin-bottom: 20px;
	transition: 300ms ease-in-out;
}


.read:hover{
	background-color: #aba;
	color: #333;
	transition: 300ms ease-in-out;	
}

.read:active{
	background-color: cornflowerblue;
	color: white;
}
.read:nth-child(2){
	margin-bottom: 20px;
}

footer#footer{
	background:linear-gradient(rgba(23,23,140,0), rgba(45,90,10,1));
	background-repeat: no-repeat;
	background-position: right;
	border-top: 3px solid gray;
	margin-top: 20px;
}

footer#footer .footer-menus{
	text-align: center;
	padding: 1em;
}
footer#footer .footer-menus ul{
	list-style:none;
	clear: left;
}

footer#footer .footer-menus ul li{
	display: inline-block;
}

footer#footer .footer-menus ul li a{
	color: #888;
	text-align: center;
	text-decoration: none;
	margin-right: 10px;
	transition: 300ms ease-in-out;
}

footer#footer .footer-menus ul li a:hover{
	color: #ccc;
	text-decoration: underline;
	transition: 300ms ease-in-out;
}

#copyright{
	color: #888;
}

footer#footer .branches{
	float: left;
	text-align: left;
}

footer#footer .branches h2{
	color: white;
	font-size: 120%;
	padding: 0em 2em;
	color: cornflowerblue;
	margin-top: 2em;
}

footer#footer .branches ul{
	list-style: none;
}

footer#footer .branches ul li{
	display: block;
	margin-bottom: 10px;
}

footer#footer .branches ul li a{
	color: #888;
	text-decoration: none;
	transition: 300ms ease-in-out;

}

footer#footer .branches ul li a:hover{
	color: 	#ccc;
	text-decoration: underline;
	transition: 300ms ease-in-out;
}

@media(max-width:460px){

	body{
		width: 100%;
		height: 100;
	}

	div#container{
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(23,90,11,0), rgba(56,34,22,1));
		background-repeat: no-repeat;
		background-position: top;
		clear: both;
		color: #333;
	}
	
	.header{
		border-bottom: 3px solid lightgray;
	}

	.header ul.header-menus{
		list-style: none;	
		margin: 0;
		padding: 0;
		float: left;
		width: 100%;
	}

	.header ul.header-menus li{
		display: inline;
		width: 10%;
		text-align: center;

	}

	.header ul.header-menus li a{
		text-decoration: none;
		color: #333;
		float: left;
		padding: .5em .6em;
		border-radius: 3px;
		transition: 300ms ease-in-out;
		font-size: 80%;
	}

	.header ul.header-menus li a:hover{
		background-color: #888;
		transition: 300ms ease-in-out;
		color: white;
	}
	
	.header h1{
		/*clear: right;*/
		/*background-color: gray;*/
		margin: 0;
		padding: 2em;
	}	


	#grid{
		padding: 1em;
		color: #ccc;
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 1em;
		grid-row-gap: 1em;
		clear: both; 
	}

	#grid .box{
		border:1px solid gray;	
		background-color: #d4d4d4;
		color: #333;
		box-shadow: 0px 10px 10px rgba(0,0,0,.4);
		text-align: center;
	}

	#grid .box img{
		border-radius: 0;
		float: none;
		width: 100%;
		height: 250px;
		transition: 300ms ease-in-out;
		box-shadow: none;
	}

	#grid .box h2{
		padding: .5em 1em;
		color: cornflowerblue;
		font-size: 120%;
	}

	#grid .box p{
		padding: .5em 1em;
	}

	.read{
		display: inline-block;
		text-decoration: none;
		padding: 1em;
		background-color: cornflowerblue;
		text-align: center;
		color: #fff;
		font-size: 105%;
		border-radius: 4px;
		margin-bottom: 20px;
		transition: 300ms ease-in-out;
	}


	.read:hover{
		background-color: #aba;
		color: #333;
		transition: 300ms ease-in-out;	
	}

	.read:active{
		background-color: cornflowerblue;
		color: white;
	}
	.read:nth-child(2){
		margin-bottom: 20px;
	}

}
