
*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 14px;
	font-family: Georgia, Helvetica, sans-serif;
	background-color: #eee;
}

h1{
	font-size: 140%;
	color: #444;
	line-height: 1.6em;
}
a{
	text-decoration: none;
}

.wrapper{
	width: 100%;
	height: 100%;
}

/* Navbar */

.navbar{
	width: 100%;
	background-color: #333;
	box-shadow: 5px 10px 20px rgba(0,0,0,.4);
}
.navbar #brand_logo{
	width: 40%;
	float: left;
	display: flex;
}
#hamicom{
	box-sizing: border-box;
	width: 10%;
	float: right;
	text-align: right;
	display: none;
}
 .navbar ul{
 	list-style: none;
	text-align: center;
	margin-bottom: 0;
	width: 50%;
	float: right;
	display: flex;
}

/*.navbar ul{
	list-style: none;
	text-align: center;
	margin-bottom: 0;
	display: flex;
}*/
.navbar ul li{
	float: left;
	width: 100%;
	box-sizing: border-box;
	line-height: 3em;
}

.navbar #brand_logo a{
	padding: 1em;
	display: block;
	font-size: 100%;
	font-weight: 600;
	color: #eee;
	transition: 200ms ease-in-out;
}
.navbar ul li a{
	padding: 1em;
	display: block;
	font-size: 100%;
	font-weight: 600;
	color: #eee;
	transition: .5s ease-in-out;
}

.navbar ul li a:hover{
	background-color: #050b14;
	color: #fff;
	transition: .3s ease-in-out;
}
.navbar ul li ul{
	position: absolute;
	left: -9999em;
	width: auto;
	background-color: #333;
	box-shadow: 5px 20px 30px rgba(0,0,0,.4);
}

.navbar ul li:hover ul{
	left: auto;
}

.navbar ul li ul{
	display: block;
	/*padding: 0;
	margin: 0;*/
}
.navbar ul li ul li{
	float: none;
	display: block;
}
.navbar ul li ul li a{
	display: block;
	padding: 0em 2em;
	color: #eee;
	transition: .5s ease-in-out;
	background-color: #333;
	color: #eee;
}
.navbar ul li ul li a:hover{
	display: block;
	padding: 0em 2em;
	background-color:  #050b14;
	transition: .5s ease-in-out;
	color: #fff;
}

.navbar:after{
	content: "";
	display: block;
	clear: both;
}
/* Navbar end */
/* Search form */
form{
	float: right;
	padding:2em;
	padding-right: 4em;
}
form input[type="search"]{
	padding: 1em 1.5em;
	border:none;
	font-size: 110%;
	font-weight: 600;
	color:#bbb;
}
form button{

	padding: 1em 1.5em;
	border:none;
	font-family:  Georgia;
	color: #333;
	font-weight: 600;
	color: #aaa;
	font-size: 110%;
	background-color:#F0F8FF;
}
form button:hover{

	padding: 1em 1.5em;
	border:none;
	font-family:  Georgia;
	color: #aaa;
	background-color:#F0FFFF;
	cursor: pointer;
	
}
/* form end */

/* Section start */
 
 section{
	width: 100%;
	height: 100%;
	margin-bottom: 1em;
	padding-bottom: 1em;
	clear: right;
}

section h1{
	color: cornflowerblue;
}

section article{
	box-sizing: border-box;
	width: 70%;
	float: left;
	padding: 1em;
	display: block;
	border-bottom: 1px solid lightgray;
	padding-bottom: 2em;
	border-right: 1px solid lightgray;
	line-height: 1.7em;
	background-color: #eee;
}
section article p{
	margin-top: 1em;
}
section aside{
	box-sizing: border-box;
	width: 30%;
	float: right;
	padding: 1em;
	display: block;
	margin-top: 0;
	background-color: #eee;
}
section aside h3{
	color: #333;
	padding-left: 1em;
	font-size: 110%;
}

section aside p{
	color: gray;
	line-height: 1.5;
	font-size: 110%;
	padding: 1em;
	padding-top: .7em;
}
section aside h5{
	color: gray;
	line-height: 1.6;
	padding: 1em;
	padding-top: .7em;

}

 /* Section end*/
 
 /* Banner */
.banner{
	clear: both;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}
img{
	width: 100%;
	height: 100%;
}
.banner-content{
	position: absolute;
	top: 30px;
	text-align: center;
	display: block;
	padding: 1em;
}
.banner-content .title{
	font-size: 64px;
	text-transform: uppercase;
}
.banner-content .text{
	font-size: 32px;
}

/* Footer start */

footer{
	background-color: #eee;
	text-align: center;
	padding-top: 5em;
	padding-bottom: 2em;
}

footer div{
	margin: 1em;
}
footer div:nth-child{
	text-align: left;
}
footer div:nth-child(1) h2{
	margin: 1em 0em;
}
footer div:nth-child(1) a{
	display: block;
	color: #333;
	padding: 1em;
	font-size: 120%;
}
footer div:nth-child(3){
	margin-bottom: 0;
}
footer div:nth-child(3) a{
	margin: 0 .5em;
	font-family: Georgia;
}
footer div:nth-child(2) a{
	margin: 0 1em;
	color: #333;
	font-family: Georgia;
	font-size: 110%;
}
footer div:nth-child(2) a:hover{
	color: #666;
}

footer p h2{
	margin-bottom: 2em;
}
/* Footer end */

/* Media  Query */
@media(max-width: 792px){
	body{
		width: 100%;
	}

	/* Navbar */
	.navbar{
		width: 100%;
		background-color: #333;
		box-shadow: none;
	}

	.navbar #brand_logo{
		box-sizing: border-box;
		float: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: #d4d4d4;
	}
	.navbar #brand_logo h1:nth-child(1){
		width: 20%;
		margin-left: 1em;
	}
	.navbar #brand_logo h1:nth-child(2){
		box-sizing: border-box;
		width: 20%;
		float: right;
		text-align: right;
		display: inline;	
		margin-right: 2em;
	}

	.navbar ul{
		clear: right;
		float: none;
		background-color: #333;
		display: block;
		list-style: none;
		text-align: center;
		margin-bottom: 0;
		/*display: flex;*/
		width: 150px;
		float: right;
		height: 0;
		transition: height .3s ease-in-out;
	}

	.navbar ul.toggle{
		clear: right;
		float: none;
		display:block;
		list-style: none;
		text-align: center;
		margin-bottom: 0;
		/*display: flex;*/
		width: 150px;
		float: right;
		height: 210px;
		transition: height .3s ease-in-out;
	}
	.navbar ul li{
		float: none;
		/*width: 100%;*/
		box-sizing: border-box;
		line-height: 3em;
		height: 0;
		transition: height .3s ease-in-out;
		display: none;
	}
	.navbar ul li.toggle{
		float: none;
		/*width: 100%;*/
		box-sizing: border-box;
		line-height: 3em;
		height: 42px;
		transition: height .3s ease-in-out;
		display: block;
	}
	.navbar #brand_logo a{
		padding: 1em;
		display: block;
		font-size: 100%;
		font-weight: 600;
		color: #333;
		transition: 200ms ease-in-out;
	}
	.navbar ul li a{
		padding: 0em;
		display: block;
		font-size: 100%;
		font-weight: 600;
		color: #eee;
		transition: 200ms ease-in-out;
	}
	.navbar ul li a:hover{
		background-color: #444;
		color: #eee;
		transition: 200ms ease-in-out;
	}

	/* Dropdown */
	.navbar ul li:nth-child(1) ul{
		position: absolute;
		top: 0;
	}
	.navbar ul li ul{
		position: absolute;
		left: -9999em;
		width: auto;
		background-color: #333;
		box-shadow: 5px 20px 30px rgba(0,0,0,.4);
	}

	.navbar ul li:hover ul{
		left: auto;
		transition: height 200ms ease-in-out;
		
	}
	.navbar ul{
		position: relative;
	}
	.navbar ul li ul{
		display: block;
		position: absolute;
		width: 150px;
		right: 150px;
		top: 126px;
	}
	.navbar ul li ul li{
		float: none;
	}
	.navbar ul li ul li a{
		display: block;
		padding: 0em 2em;
		color: #eee;
		transition: 200ms ease-in-out;
		background-color: #333;
		color: #eee;
	}
	.navbar ul li ul li a:hover{
		display: block;
		padding: 0em 2em;
		transition: 200ms ease-in-out;
		background-color: #444;
		color: #eee;
	}
	/* Dropdown */

	.navbar:after{
		content: "";
		display: block;
		clear: both;
	}

	/* Nav bar end */

	/* Search form */
	form{
		float: none;
		padding:2em 1oem;
		/*padding-right: 4em;*/
		display: flex;
	}
	form input[type="search"]{
		padding: 1em 1.5em;
		border:none;
		flex: 5;
		
	}
	form button{
		flex: 1;
		padding: 1em 1.5em;
		border:none;
		font-family:  Georgia;
		color: #333;
		font-weight: 600;
		margin-left: 0;
		color: #aaa
		background-color#443f11;

	}
	form button:hover{

		padding: 1em 1.5em;
		border:none;
		font-family:  Georgia;
		color: #aaa;
		background-color: #eee;
		cursor: pointer;
		
	}

	/* Search form end */
}